---
# set the value for "nrArgentHome" to New Relic Openstack agent installation location
integrations:
  - name: nri-flex
    interval: 30s
    config:
      name: openstackTestIntegration
      variable_store:
        nrAgentHome: _ABSOLUTE_PATH_TO_NR_AGENT_HOME_DIR_
      apis:
        - name: NROSAgent
          commands:
            - run: "mkdir -p ${var:nrAgentHome}/logs 2>/dev/null ; python ${var:nrAgentHome}/os-mon.py ${var:nrAgentHome}/config/os-config.json >> ${var:nrAgentHome}/logs/os-mon-out.log 2>&1"

        - name: OSImage
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh images 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSHypervisor
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh hypervisors 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSNetwork
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh networks 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSLimit
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh limits 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSServer
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh servers 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSBlockStorage
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh block_storage 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSResourceProvider
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh resource_providers 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSKeystone
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh keystone 2>>${var:nrAgentHome}/logs/os-mon-err.log"

        - name: OSNova
          commands:
            - run: "${var:nrAgentHome}/scripts/osmetrics.sh nova 2>>${var:nrAgentHome}/logs/os-mon-err.log"

